.profile_page p,
.profile_page span {
  font-family: Helvetica Neue, Tahoma, Arial;
}

.profile-number {
  padding-top: 1.95rem;
}

.profile-number .profile-link {
  display: block;
  display: flex;
  box-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #3190e8;
  padding: .666667rem .6rem;
}

.profile-number .profile-link .privateImage {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  vertical-align: middle;
}

.profile-number .profile-link .privateImage .privateImage-svg {
  background: #fff;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

.profile-number .profile-link .user-info {
  margin-left: .48rem;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.profile-number .profile-link .user-info p {
  font-weight: 700;
  font-size: 0.8rem;
  color: #fff;
}

.profile-number .profile-link .user-info p .user-icon {
  width: 0.5rem;
  height: 0.75rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 0.75rem;
}

.profile-number .profile-link .user-info p .user-icon .icon-mobile {
  width: 100%;
  height: 100%;
}

.profile-number .profile-link .user-info p .icon-mobile-number {
  display: inline-block;
  font-size: 0.57333rem;
  color: #fff;
}

.profile-number .profile-link .arrow {
  width: 0.46667rem;
  height: 0.98rem;
  display: inline-block;
}

.profile-number .profile-link .arrow svg {
  width: 100%;
  height: 100%;
}

.info-data {
  width: 100%;
  background: #fff;
  box-sizing: border-box;
}

.info-data ul .info-data-link {
  float: left;
  width: 33.33%;
  display: inline-block;
  border-right: 1px solid #f1f1f1;
}

.info-data ul .info-data-link span {
  display: block;
  width: 100%;
  text-align: center;
}

.info-data ul .info-data-link .info-data-top {
  font-size: 0.55rem;
  color: #333;
  padding: .853333rem 0 .453333rem;
}

.info-data ul .info-data-link .info-data-top b {
  display: inline-block;
  font-size: 1.2rem;
  color: #f90;
  font-weight: 700;
  line-height: 1rem;
  font-family: Helvetica Neue, Tahoma;
}

.info-data ul .info-data-link .info-data-bottom {
  font-size: 0.57333rem;
  color: #666;
  font-weight: 400;
  padding-bottom: .453333rem;
}

.info-data ul .info-data-link:nth-of-type(2) .info-data-top b {
  color: #ff5f3e;
}

.info-data ul .info-data-link:nth-of-type(3) {
  border: 0;
}

.info-data ul .info-data-link:nth-of-type(3) .info-data-top b {
  color: #6ac20b;
}

.profile-1reTe {
  margin-top: .4rem;
  background: #fff;
}

.profile-1reTe .myorder {
  padding-left: 1.6rem;
  display: flex;
  align-items: center;
}

.profile-1reTe .myorder aside {
  width: 0.7rem;
  height: 0.7rem;
  margin-left: -.866667rem;
  margin-right: .266667rem;
  display: flex;
  align-items: center;
}

.profile-1reTe .myorder aside svg {
  width: 100%;
  height: 100%;
}

.profile-1reTe .myorder .myorder-div {
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  padding: .433333rem .266667rem .433333rem 0;
  font-size: 0.7rem;
  color: #333;
  display: flex;
  justify-content: space-between;
}

.profile-1reTe .myorder .myorder-div span {
  display: block;
}

.profile-1reTe .myorder .myorder-div .myorder-divsvg {
  width: 0.46667rem;
  height: 0.466667rem;
}

.profile-1reTe .myorder .myorder-div .myorder-divsvg svg {
  width: 100%;
  height: 100%;
}

.profile-1reTe .myorder:nth-of-type(3) .myorder-div {
  border: 0;
}

.router-slid-enter-active,
.router-slid-leave-active {
  transition: all .4s;
}

.router-slid-enter,
.router-slid-leave-active {
  transform: translate3d(2rem, 0, 0);
  opacity: 0;
}